<%- include('partials/head') %>
  <body>
    <div id="container">
      <%- include('partials/logo-and-search') %>
      <div class="box">
        <div id="number">
          <%= dataToRender.number %>
        </div>
        <div>
          <img id="gif" src="<%= dataToRender.gifURL %>">
        </div>
        <div id="fact">
          <b>Fun Fact:</b> <%= dataToRender.fact %>
        </div>
        <div id="giphy">
          "<%= dataToRender.keyword %>"
          <p><img src="/giphy-logo.png"></p>
        </div>
      </div>
    </div>
  </body>
</html>